# Django Settings
SECRET_KEY=django-insecure-#+wlf0r&fox*17dzg7sy4h1fb0myi#8sr*j^&1&z_eb2rat%m)
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost

# Database
DATABASE_URL=postgresql://postgres.bpvpjsitlwwpajtguauu:LeLK8rbdJaLrbeb3@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?sslmode=require

# CORS
CORS_ALLOWED_ORIGINS=https://your-frontend.onrender.com

# Superuser (will be set in Render environment)
DJANGO_SUPERUSER_EMAIL=admin@truckease.com
DJANGO_SUPERUSER_PASSWORD=Truck!213
DJANGO_SUPERUSER_USERNAME=TruckEase